{% extends "layout.html" %}
{% block content %}
<script src="/static/tools.js"></script>
<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
          <h1 class="display-2 text-success">CTF Tools</h1>
          <p class="mt-5 text-grey text-spacey">
            Self create CTF Tools by SKR
          </p>
          <ul class="nav nav-tabs">
            <li class="nav-item"><a data-toggle="tab" href="#home" class="nav-link active show">Crypto</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#menu1" class="nav-link">Stego</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#menu4" class="nav-link">Web</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#menu2" class="nav-link">RSA</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#menu5" class="nav-link">Reverse</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#menu3" class="nav-link">General</a></li>
          </ul>

          <div class="tab-content mt-3">
            <div id="home" class="tab-pane fade in active show">
              <h3 class="mt-3">Auto Mode</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <input type="text" class="form-control col-xl-6" id="autoCryptotext" placeholder="Enter Text" name="text">
              <button class="btn btn-shadow btn-primary ml-2" onclick="autoCrypto()">Brute Force</button>
              </form>
              <div class="mt-2 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ignore">
                <label class="custom-control-label" for="ignore">Ignore Error</label>
              </div>
              <h3 class="mt-3">Caesar Cipher</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
                 <input type="text" class="form-control col-xl-9" id="ciphertext" placeholder="Enter Text" name="text">
                <div class="input-group-append">
                <button type="button" class="btn btn-primary dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Shift
                </button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">1</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">2</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">3</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">4</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">5</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">6</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">7</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">8</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">9</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">10</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">11</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">12</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">13</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">14</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">15</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">16</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">17</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">18</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">19</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">20</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">21</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">22</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">23</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">24</a>
                  <a class="dropdown-item" name="n" onclick="caesar(this.innerHTML)">25</a>
                </div>
                </div>
              </div>Or 
              <button class="btn btn-shadow btn-primary ml-2" onclick="caesar('0')">Brute Force</button>
              </form>

              <h3 class="mt-3">Vigenere Cipher</h3>
              <input type="text" class="form-control col-xl-6" id="vigeneretext" placeholder="Enter Text" name="text">
              <input type="text" class="mt-1 form-control col-xl-6" id="vigenerepass" placeholder="Enter Password" name="text">
              <button class="btn btn-shadow btn-success mt-2" onclick="vigenere(true)">Encode</button>
              <button class="btn btn-shadow btn-danger mt-2" onclick="vigenere()">Decode</button>

              <h3 class="mt-3">Letter Numbers</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="letternum(true)">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="letternumtext" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="letternum()">Decode</button>
              </div>
              </div>
              </form>
              <div class="form-inline mt-2">
              Seperator for each letter:
              <input type="text" class="form-control col-xl-1 ml-3" id="letternumseperator" placeholder="space" name="text">
              </div>

              <h3 class="mt-3">Base64</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="base(64,true)">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="base64text" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="base(64)">Decode</button>
              </div>
              </div>
              </form>

              <h3 class="mt-3">Base32</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="base(32,true)">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="base32text" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="base(32)">Decode</button>
              </div>
              </div>
              </form>
              
              <h3 class="mt-3">Base85</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="base(85,true)">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="base85text" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="base(85)">Decode</button>
              </div>
              </div>
              </form>

              <h3 class="mt-3">Ascii85</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="ascii85(true)">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="ascii85text" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="ascii85()">Decode</button>
              </div>
              </div>
              </form>

              <h3 class="mt-3">Base58</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="base(58,true)">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="base58text" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="base(58)">Decode</button>
              </div>
              </div>
              </form>

              <h3 class="mt-3">Rot 47</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="rot47()">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="rot47text" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="rot47()">Decode</button>
              </div>
              </div>
              </form>

              <h3 class="mt-3">XOR</h3>
              <div class="ht-tm-element input-group">
                <input type="text" class="form-control col-xl-6" id="xortext" placeholder="Enter Text" name="text">
                <div class="input-group-append">
                  <button type="button" id="selecttext" class="btn btn-primary dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">String</button>
                  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <a class="dropdown-item" onclick="document.getElementById('selecttext').innerHTML=this.innerHTML">String</a>
                    <a class="dropdown-item" onclick="document.getElementById('selecttext').innerHTML=this.innerHTML">Hex</a>
                    <a class="dropdown-item" onclick="document.getElementById('selecttext').innerHTML=this.innerHTML">Base64</a>
                  </div>
                </div>
              </div>
              <div class="ht-tm-element input-group mt-1">
                <input type="text" class="form-control col-xl-6" id="xorkey" placeholder="Enter Key" name="text">
                <div class="input-group-append">
                  <button type="button" id="selectkey" class="btn btn-primary dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">String</button>
                  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <a class="dropdown-item" onclick="document.getElementById('selectkey').innerHTML=this.innerHTML">String</a>
                    <a class="dropdown-item" onclick="document.getElementById('selectkey').innerHTML=this.innerHTML">Hex</a>
                    <a class="dropdown-item" onclick="document.getElementById('selectkey').innerHTML=this.innerHTML">Base64</a>
                  </div>
                </div>
              </div>
              <button class="btn btn-shadow btn-success mt-2" onclick="xor()">Encode</button>
              <button class="btn btn-shadow btn-danger mt-2" onclick="clearXOR()">Clear</button>
              <button class="btn btn-shadow btn-primary mt-2" onclick="xorBrute()">Brute Force with one character</button>

              
              <h3 class="mt-3">Morse Code</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group">
              <div class="input-group-prepend">
              <button type="submit" class="btn btn-success" onclick="morse(true)">Encode</button>
              </div>
              <input type="text" class="form-control col-xl-9" id="morsetext" placeholder="Enter Text" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-danger" onclick="morse()">Decode</button>
              </div>
              </div>
              </form>
              <div class="form-inline mt-2">
              Seperator for each words:
              <input type="text" class="form-control col-xl-1 ml-3" id="seperator" placeholder="/" name="text">
              </div>

              <h3 class="mt-3">Malbolge</h3>
              <textarea class="form-control col-xl-6" id="malbolgetext" rows="6" placeholder="Paste code here"></textarea>
              <button type="submit" class="btn btn-success mt-2" onclick="malbolge()">Interpret</button>
              <button type="submit" class="btn btn-danger mt-2" onclick="clearMal()">Clear</button>

              <h3 class="mt-3">Fernet</h3>
              <input type="text" class="form-control col-xl-6" id="fernettext" placeholder="Enter Token" name="text">
              <input type="text" class="mt-1 form-control col-xl-6" id="fernetkey" placeholder="Enter Key" name="text">
              <button class="btn btn-shadow btn-success mt-2" onclick="fernet(true)">Encode</button>
              <button class="btn btn-shadow btn-danger mt-2" onclick="fernet()">Decode</button>
              
            </div>
            <div id="menu1" class="tab-pane fade">
              <h3 class="mt-3">zsteg (PNG file)</h3>
                <form action="/zsteg"
                  class="dropzone col-xl-6"
                  id="zsteg-dropzone">
                </form>
              <h3 class="mt-3">jsteg (JPEG file)</h3>
                <form action="/jsteg"
                  class="dropzone col-xl-6"
                  id="jsteg-dropzone">
                </form>
              <h3 class="mt-3">strings</h3>
                <form action="/strings"
                  class="dropzone col-xl-6"
                  id="strings-dropzone">
                </form>
              <h3 class="mt-3">stegsolve</h3>
                <form action="/stegsolve"
                  class="dropzone col-xl-6"
                  id="stegsolve-dropzone">
                </form>

            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="card text-center">
                <div class="card-body">
              <div class="row">
              <div class="col-xl-6">
                  <textarea class="form-control" id="values" rows="6" placeholder="Type all values here Ex: n = 1234 e = 65537 c = 1234"  onfocus="clearRSA(0)"></textarea>
                  <div class="text-left mt-2">
                  <h5>Minimum requirements: <b>n,e,c</b></h5>
                  <h6>Best result with factorized n: <b>p,q,e,c</b></h6>
                  <h6>Or with decryption key (d): <b>d,n,c</b></h6><br>
                  <h5>Automatic checks for vulnerabilities:</h5>
                  <h6>Known Factors (Factordb)</h6>
                  <h6>Cube root of c (if e=3)</h6>
                  <h6>Wiener's Attack (d is small)</h6>
                  <h6>Boneh Durfee (d is small)</h6>
                  <h6>Recover Factors of n (when d is known)</h6>
                  <h6>Factorize n using Fermat's factorization method (when p,q is close)</h6>
                  </div>
              </div>

              <div class="col-xl-6">
                  <div class="text-left">
                    <h5 class="mt-2">Boneh Durfee parameters:</h5>
                    <div class="form-inline mt-2">delta = <input type="text" class="form-control col-xl-4 ml-2 mr-2" id="delta" name="text" placeholder="0.292"/>  m = <input type="text" class="form-control col-xl-4 ml-2" id="m" name="text" placeholder="4"/></div>
                  </div>
              </div>
              </div>
              
              <button type="submit" class="ht-tm-element btn btn-shadow text-mono btn-success btn-lg mt-3" onclick="decryptRSA()">Decrypt</button>
              <button type="submit" class="ht-tm-element btn btn-shadow text-mono btn-danger btn-lg mt-3" onclick="clearRSA(1)">Clear</button>
              <button type="submit" class="ht-tm-element btn btn-shadow text-mono btn-primary btn-lg mt-3" onclick="exampleRSA()">Example</button>
              </div>
              </div>
              <div class="row mt-3">
                <div class="col-xl-6">
              <div class="card">
              <div class="card-body">
              
              <h3>Greatest Common Divisor</h3>
              <div class="form-inline mt-3">
                <h4>a = </h4>
                <input type="text" class="form-control col-xl-10 ml-3" id="a" name="text">
              </div>
              <div class="form-inline mt-1">
                <h4>b = </h4>
                <input type="text" class="form-control col-xl-10 ml-3" id="b" name="text">
              </div>
              <div class="text-center">
              <button type="submit" class="ht-tm-element btn btn-shadow text-mono btn-success btn-lg mt-3" onclick="gcd()">Decrypt</button>
              <button type="submit" class="ht-tm-element btn btn-shadow text-mono btn-danger btn-lg mt-3" onclick="clearGCD()">Clear</button>
              </div>
              </div>
              </div>
              </div>

              <div class="col-xl-6">
                <div class="card">
                  <div class="card-body">
                    <h3>Hastad's Broadcast Attack</h3>
                    <textarea class="form-control" id="hastadvalues" rows="6" placeholder="n1=? n2=? n3=? c1=? c2=? c3=?"></textarea>
                    <div class="mt-2">
                      <h6>Total number equal e(public key exponent)</h6>
                      <h6>Ex: n1..n3 and c1..c3, e = 3</h6>
                    </div>
                    <button type="submit" class="ht-tm-element btn btn-shadow text-mono btn-success btn-lg mt-3" onclick="hastad()">Decrypt</button>
                    <button type="submit" class="ht-tm-element btn btn-shadow text-mono btn-danger btn-lg mt-3" onclick="clearHastad()">Clear</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div id="menu3" class="tab-pane fade">
              <h3>Number to ASCII</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <div class="ht-tm-element input-group col-xl-6">
              <input type="text" class="form-control" id="numbertext" placeholder="Enter Number" name="text">
              <div class="input-group-append">
              <button type="submit" class="btn btn-success" onclick="numbertoascii()">Convert</button>
              </div>
              </div>
              </form>
              <div class="form-inline mt-2">
                Number Format:
              <select class="custom-select col-xl-2 ml-3" id="format">
                  <option selected value=10>Decimal (10)</option>
                  <option value=16>Hex (16)</option>
                  <option value=2>Binary (2)</option>
                  <option value=8>Octal (8)</option>
              </select>
              </div>
              <div class="form-inline mt-1">
              Seperator for each character:
              <select class="custom-select col-xl-1 ml-3" id="numberseperator">
                  <option selected value="">None</option>
                  <option value=" ">Space</option>
              </select>
              </div>
              <h3 class="mt-3">OCR</h3>
                <form action="/ocr"
                  class="dropzone col-xl-6"
                  id="ocr-dropzone">
                </form>

              <h3 class="mt-3">Quick Python</h3>
              <div class="form-inline mt-2 mb-2">
              Password:
              <input type="password" class="form-control col-xl-3 ml-3" id="pythonpassword" name="text">
              </div>
              <textarea class="form-control col-xl-6" id="pythontext" rows="6" placeholder="Paste code here"></textarea>
              <style type="text/css">
                .CodeMirror{
                  font-size: 20px;
                  height: auto;
                }
              </style>
              <script type="text/javascript">
                var cm = CodeMirror.fromTextArea(document.getElementById("pythontext"), {
                    mode: {name: "python",
                           version: 3,
                           singleLineStringErrors: false},
                    theme: "monokai",
                    keyMap:"sublime",
                    autoCloseBrackets:true,
                    matchBrackets:true,
                    showCursorWhenSelecting: true,
                    lineWrapping:true,
                    viewportMargin:Infinity
                });
              </script>
              <button type="submit" class="btn btn-success mt-2" onclick="pythonScript()">Interpret</button>
              <button type="submit" class="btn btn-danger mt-2" onclick="cm.setValue('')">Clear</button>
              <button type="submit" class="btn btn-primary mt-2" onclick="cm.undo()">Undo</button>
              <button type="submit" class="btn btn-primary mt-2" onclick="cm.redo()">Redo</button>
              <button type="submit" class="btn btn-primary mt-2" onclick="cm.setValue('from pwn import *\nHOST = \'skrctf.me\'\nPORT = 3003\np = remote(HOST,PORT)\nprint(p.recv())')">Pwntools Template</button>


            </div>

            <div id="menu4" class="tab-pane fade">
              <h3>View Sauce</h3>
              <form class="form-inline ht-tm-element" onsubmit="return false">
              <input type="text" class="form-control col-xl-6" id="urltext" placeholder="Enter URL" name="text">
              <button type="submit" class="btn btn-shadow btn-primary ml-2" onclick="webSource()">View</button>
              </form>
            </div>

            <div id="menu5" class="tab-pane fade">
              <!-- <h3>Apk Decompiler</h3>
              <form action="/apkdecompile"
                  class="dropzone col-xl-6"
                  id="apk-dropzone">
              </form> -->
              <h3>.NET Decompiler (ILSpy)</h3>
              <form action="/ilspy"
                  class="dropzone col-xl-6"
                  id="ilspy-dropzone">
              </form>
              <h3 class="mt-3">Python Decompiler (.pyc file)</h3>
              <form action="/uncompyle"
                  class="dropzone col-xl-6"
                  id="uncompyle-dropzone">
              </form>
            </div>
          </div>
        <div id="result" class="mt-5">

        </div>
        </div>
</div>

{% endblock %}
